body {
  background: #141414;
  color: #ffffff;
}
.center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: black;
}

.movie-container {
  display: flex;
  flex-direction: row;
}

.movies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 3px;
}

.movies > img {
  display: flex;
  justify-content: center;
  width: 350px;
  height: 350px;
}
.movies > h2 {
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.movies > p {
  display: flex;
  justify-content: center;
}

.nominated-list {
  margin: 80px 0px 0px 0px;
}

.vote-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}
