body {
  background: #141414;
  color: #ffffff;
}
.center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  width: 100%;
  position: fixed;
}

.movie-container {
  display: flex;
  flex-direction: row;
  height: 500px;
}

.movies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 10px 3px;
}

.movies > img {
  margin: auto;
  display: block;
  width: 350px;
  height: 350px;
}
.movies > p {
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.movies > p {
  display: flex;
  justify-content: center;
}

button {
  border-radius: 50px;
}

.nominated-list {
  margin: 80px 0px 0px 0px;
}
